.container {
  width: 100%;
  
}

.navbar-brand a {
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    color: rgb(4, 168, 113);
}

#plant-img {
  max-width: 65px;
  max-height: 75px;
  padding-right: 5px;
}

li {
  display: inline;
  padding-left: 20px;
  text-decoration: none;
}

.shopping-cart {
  left: 0;
  background: white;
  width: 100vw;
  position: absolute;
  border-radius: 3px;
  top: 100;
  
}

.shopping-cart-bottom {
  border-top: 1px solid #e8e8e8;
  padding: 15px;
}

.shopping-cart-items {
  padding: 10px;
  position: absolute;
  width: 100vw;
  left: 0;
  z-index: 1;
  background-color: white;
}

img {
  float: left;
  margin-right: 12px;
}

.item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.counter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-units{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202020;
  cursor: pointer;
}

.cart {
  height: 50px;
}

.fa-user {
  color: black;
}