.plant-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 60vh;
}

#angle-icon {
  position: absolute;
  top: 100px;
  left: 18px;
  color: black;
}

.btn-info {
  background-color: #216974;
}

.fa-tint {
  color: #216974;
}

.fa-sun {
  color: #f98f2a;
}

.card-title {
    color: #2b4521;
}

.price-cart{
  display: flex;
  justify-content: space-evenly;
}

